
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Inter",sans-serif;
}

:root{
    --main_color: #c9f31d;
    --p_color: #8a8a8a;
    --bg_color: #1F1F1F;
    --white_color: #fff;
    --black-color: #070707;
    --border-color: rgba(255,255,255,0.1);
}

body{
    background: #131313;
}

.container{
    width: 80%;
    margin: auto;
    max-width: 1500px;
    
}


/* Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    transition: 0.3s;
}

header.active{
    background: var(--black-color);
    border-bottom: 1px solid #262626;
    z-index: 1000;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo img{
    width: 200px ;
}

header nav .links{
    display: flex;
    gap: 40px;
}

header nav .links a{
    color: var(--white_color);
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s;
}

header nav .links a:hover{
    color: var(--main_color);
    text-transform: capitalize;
    font-size: 18px;
}

header nav .icons{
    display: flex;
    gap: 30px;
}

header nav .icons a{
    color: var(--main_color);
    font-size: 28px;
    transition: 0.3s;
}

header nav .icons a:hover{
    scale: 1.4;

}

/* End Header Styling */


/* Home Section */

img{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    color: var(--white_color);
    font-family: "DM Sans", sans-serif;
}
span{
    color: var(--main_color);
}
p{
    color: var(--p_color);
}

.home{
    padding-top: 100px;
    height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.home .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .div_text{
    width: 50%;
}

.home .div_text h4{
    color: var(--p_color);
    font-size: 35px;
    margin-bottom: 15px;
}

.home .div_text h1{
    font-size: 70px;
}

.home .div_text h2{
    font-size: 70px;
    font-weight: normal;
    line-height: 0.9;
}

.home .div_text p{
    margin: 30px 0;
    font-size: 18px;
    width: 80%;
    line-height: 1.7;
}

.home .div_img{
    width: 40%;
    position: relative;
    border-radius: 0 0 600px 600px;
    overflow: hidden ;
}

.home .btn{
    font-size: 20px;
    padding: 18px 50px;
}

.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn{
    background: var(--main_color);
    padding: 14px 30px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--black-color);
    transition: 0.3s;
}

.btn:hover{
    scale: 1.1;
}

.btn_no_bg{
    color: var(--white_color);
    text-transform: capitalize;
    text-decoration: underline;
    transition: 0.3s;
}

.btn_no_bg:hover{
    color: var(--main_color);
}

.home .div_img .bg_img{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* End Home Section */



/* About Section */

section{
    padding: 80px 0;
}

.about .container{
    background: var(--black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px;
    padding: 50px 50px;

}

.about .div_text{
    width: 50%;
}

.about .div_text h5{
    color: var(--p_color);
    font-size: 18px;
    text-transform: capitalize;
}

.about .div_text h2{
    font-size: 45px;
    margin: 25px 0 5px;
}

.about .div_text h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.about .div_text p{
    line-height: 1.8;
}

.about .div_text ul{
    display: flex;
    color: var(--white_color);
    margin: 30px 0 20px 0;
    flex-wrap: wrap;
}

.about .div_text ul li{
    width: 45%;
    font-weight: bold;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.about .div_text ul li i{
    color: var(--main_color);
}

.about .div_img{
    width: 35%;
}

/* End About Section */


/* Services Section */

.top_section{
    text-align: center;
    margin-bottom: 100px;
}

.top_section h2{
    font-size: 30px;
}

.services .boxs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services .boxs .box{
    width: 30%;
    text-align: center;
    padding: 50px 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    transition: 0.3s;
}

.services .boxs .box i{
    color: var(--main_color);
    font-size: 70px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.services .boxs .box h3{
    font-size: 25px;
    margin-bottom: 20px;

}

.services .boxs .box p{
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.7;
}

.services .boxs .box:hover{
    border-color: var(--main_color);

}

.services .boxs .box:hover i{
    scale: 1.3  ;
}